body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game {
    width: 600px;
    height: 600px;
    position: relative;
    background-color: #ddf; /* Cor de fundo para simular uma área de floresta */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sprite {
    position: absolute;
    border-radius: 50%;
}

.arvore {
    width: 40px;
    height: 40px;
    background-color: green;
}

.jogador, .fazendeiro {
    width: 20px;
    height: 20px;
}

.jogador {
    background-color: blue;
}

.fazendeiro {
    background-color: red;
}

#timer, #forest-status {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    top: 5px;
}

#timer {
    left: 5px;
}

#forest-status {
    right: 5px;
}
